@font-face {
    font-family: TGR;
    src: url("G2TGR-Regular.otf") format("opentype");
}

*{
    font-family: TGR,Arial,sans-serif;
    letter-spacing: 0.6px;
    color: white;
}

body{
    background-image: url(pexels-akos-szabo-145938-440731.jpg);
}
.content{
    top:0;
    left:0;
    margin: 20px; 
    letter-spacing: 0.6px;
    line-height: 1.2;
}
.text{
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 20px; 
    letter-spacing: 0.6px;
    line-height: 1.2;
}

.wiggle a:hover{ 
  animation: wiggle 75ms infinite;
  animation-timing-function: linear;   
}

@keyframes wiggle {
  0% { transform: translate(2px, 0); }
  50% { transform: translate(-2px, 0); }
  100% { transform: translate(2px, 0); }
}


a{color: white;}
a:hover{ text-decoration:none;cursor: pointer;}

